In [ ]:
import pandas as pd

1. Import pandas as pd. Read Salaries.csv as a dataframe called sal. Check the head of the DataFrame. Use the .info() method to find out how many entries there are.

In [ ]:
sal = pd.read_csv('Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

2. What is the average BasePay?

In [ ]:
sal.BasePay.mean()

66325.4488404877

3. What is the highest amount of OvertimePay in the dataset ?

In [ ]:
sal.OvertimePay.max()

245131.88

4. What is the job title of JOSEPH DRISCOLL ?

In [ ]:
sal[sal.EmployeeName == 'JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

5. How much does JOSEPH DRISCOLL make (including benefits)?

In [ ]:
sal[sal.EmployeeName == 'JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

6. What is the name of highest paid person (including benefits)?

In [ ]:
sal[sal.TotalPayBenefits == sal.TotalPayBenefits.max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

7. What is the name of lowest paid person (including benefits)?

In [ ]:
sal[sal.TotalPayBenefits == sal.TotalPayBenefits.min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

8. What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [ ]:
sal.groupby(by = 'Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

9. How many unique job titles are there?

In [ ]:
len(sal.JobTitle.unique())

2159

10. What are the top 5 most common jobs?

In [ ]:
sal.JobTitle.value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

11. How many Job Titles were represented by only one person in 2013?

In [ ]:
(sal[sal.Year == 2013].JobTitle.value_counts() == 1).sum()

202

12. How many people have the word Chief in their job title?

In [ ]:
(sal.JobTitle.apply(
    lambda x: 'Chief' in x
    )).sum()

423

13. Is there a correlation between length of the Job Title string and Salary?

In [ ]:
sal['TitleLength'] = sal.JobTitle.apply(lambda x: len(x))

In [ ]:
sal[['TitleLength', 'TotalPayBenefits']].corr()

                  TitleLength  TotalPayBenefits
TitleLength          1.000000         -0.036878
TotalPayBenefits    -0.036878          1.000000

14. What are top 10 job titles with the largest values of mean BasePay. You can use group by, or custom implementation.

In [ ]:
sal.groupby(by = 'JobTitle').BasePay.mean().sort_values(ascending=False)[:10]

JobTitle
Chief of Police                           309767.683333
Chief, Fire Department                    304232.340000
Gen Mgr, Public Trnsp Dept                297769.413333
CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)    285262.000000
Dep Dir for Investments, Ret              276153.765000
Mayor                                     275852.530000
Adm, SFGH Medical Center                  265218.780000
EXECUTIVE CONTRACT EMPLOYEE               264452.520000
Controller                                263588.753333
Dept Head V                               259590.712222
Name: BasePay, dtype: float64